@page
@model CorsoLaneWeb.Pages.AdminControllerPage.Sub_CategoryEntiity.Index1Model
@{
}


<table id="datatable" class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>No</th>
            <th>SubCategory</th>
            <th>Categories</th>
            <th style="width: 200px">Action</th>
        </tr>
    </thead>
    <tbody>
        <!--Loop through Model.SubCategories and query that SubCategory, and inside that we get loop through -->
        @{
            int i = 0;
            foreach (var sub in Model.SubCategories)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@sub.Name</td>
                    <td>
                        @{
                            var categoryNames = new List<string>();
                            foreach(var csc in sub.CategorySubCategories)
                            {
                                // ne var csc = sub.CategorySubCategories is getting a  ( Categories which are the , (subcategories link  to the Category) in CategorySubCategories joined table
                                categoryNames.Add(csc.Category.Name);
                            }
                        }
                        @string.Join(", ", categoryNames)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           asp-page="/AdminControllerPage/Sub_CategoryEntiity/EditSub_Category"
                           asp-route-id="@sub.Id"
                           role="button">Edit</a>

                        <a class="btn btn-danger btn-sm"
                           asp-page="/AdminControllerPage/Sub_CategoryEntiity/DeleteSub_Category"
                           asp-route-id="@sub.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
